# Xcode
*.xcuserdatad
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata

# Build
DerivedData/
build/
*.app/
*.ipa
*.dSYM

# SwiftPM
.swiftpm/
.build/

# macOS files
.DS_Store

# Screenshots
/screenshots/ 